#profileContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
  padding: var(--padding-l);
  background-color: var(--text-basic-light);
  border-radius: var(--border-radius-cards);
  box-shadow: 0 2px 4px var(--card-shadow);
  width: 100%;
  max-width: 600px;
}

.event-title-profile {
  font-size: var(--fontsize-text);
  color: var(--text-basic-dark);
  padding-bottom: var(--padding-xs);
}

.form-input:disabled {
  background-color: var(--button-background-disabled);
  color: var(--text-button-disabled);
  cursor: not-allowed;
}

.separator {
  border: 1px solid #ccc;
}
